{% extends "base.html" %}

{% block title %}
  
  Listar autores
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar autores</p>
  
  {% for author in authors %}
    
    <div class="card" style="width: 18rem; margin-left: 1rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    
    {% if author.image %}
      
      <img src="{{author.image.url}}" class="card-img-top" alt="...">
      
    {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{author.name}} 
          {% if author.middle_name %}
            {{author.surname}}
          {% else %}
            {{author.middle_name}} {{author.surname}}
          {% endif %}
          </h5>
        <p class="card-text">{{author.nickname}}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
    <br>
    
  {% endfor%}
    
{% endblock %}