{% extends "base.html" %}

{% block title %}
  
  Listar autores
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar autores</p>
  
  {% for travel in travels %}
    
    <div class="card" style="width: 18rem; margin-left: 1rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    
    {% if travel.image %}
      
      <img src="{{travel.image.url}}" class="card-img-top" alt="...">
      
    {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{travel.name}}</h5>
        <p class="card-text">{{travel.description}}</p>
        <a href="#" class="btn btn-primary">{{travel.price}}</a>
      </div>
    </div>
    <br>
    
  {% endfor%}
    
{% endblock %}