{% extends "base.html" %}

{% block title %}
  
  Listar libros
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar libros</p>
  
  {% for book in books %}
    
    <div class="card" style="width: 18rem; margin-left: 1rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    
    {% if book.image %}
      
      <img src="{{book.image.url}}" class="card-img-top" alt="...">
      
    {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">ISBN: {{book.ISBN}}</p>
        <p class="card-text">{{book.synopsis}}</p>
        <a href="#" class="btn btn-primary">{{book.price}}</a>
      </div>
    </div>
    <br>
    
  {% endfor%}
    
{% endblock %}