{% extends "base.html" %}

{% block title %}
  
  Listar editoriales
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar editoriales</p>
  
  {% for editorial in editorials %}
    
  <div class="card" style="width: 18rem; margin-left: 1rem;">
    <div class="card-body">
      <h5 class="card-title">
        
        {{editorial.name}}
        
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        
        {% if editorial.main_organization %}
        
          {{editorial.main_organization}}  

        {% endif %}
      
      </h6>
      <p class="card-text"></p>
      <a href="#" class="card-link"></a>
      <a href="#" class="card-link"></a>
    </div>
  </div>
  <br>
    
  {% endfor%}
    
{% endblock %}