{% extends "base.html" %}

{% block title %}
  
  Listar editoriales
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar editoriales</p>
  
  {% for editorial in editorials %}
    
    <div class="card" style="width: 18rem; margin-left: 1rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    
    {% if editorial.image %}
      
      <img src="{{editorial.image.url}}" class="card-img-top" alt="...">
      
    {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{editorial.name}}</h5>
        <p class="card-text">Miembro de: {{editorial.main_organization}}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
    <br>
    
  {% endfor%}
    
{% endblock %}