{% extends "base.html" %}

{% block title %}
  
  Crear g&eacute;nero
  
{% endblock%}

{% block contenido %}
  
  <br>  
  <p>&nbsp;Crear g&eacute;nero</p>
  
  {% if form%}
    <br>
    <p>&nbsp;g&eacute;nero</p>
    <form action="" method="POST">
      {% csrf_token %}
      <table>
          {{form.as_table}}
      </table>
      <br>
      <input type="submit", value="Enviar">&nbsp;<input type="reset", value="Borrar">
    </form>
    
  {% elif new_genre %}
    <div class="card" style="width: 18rem; margin-left: 1rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{new_genre.name}}</h5>
        <p class="card-text">{{new_genre.description}}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
    
  {% endif%}
  
{% endblock %}