{% extends "base.html" %}

{% block title %}
  
  Listar g&eacute;neros
  
{% endblock%}

{% block contenido %}
  
  <br>
  <p>&nbsp;Listar g&eacute;neros</p>
  
  {% for genre in genres %}
    
    <div class="card" style="width: 18rem; margin-left: 1rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    
    {% if genre.image %}
      
      <img src="{{genre.image.url}}" class="card-img-top" alt="...">
      
    {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{genre.name}}</h5>
        <p class="card-text">{{genre.description}}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
    <br>
    
  {% endfor%}
    
{% endblock %}