{% extends "base.html" %}

{% block title %}
    Listar categorias
{% endblock%}

{% block contenido %}
    <br>
    <p>&nbsp;Listar categor&iacute;as</p>
    {% for elemento in categorias %}
        <div class="card" style="width: 18rem; margin-left: 1rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{elemento.nombre}}</h5>
            <p class="card-text">{{elemento.descripcion}}</p>
            </div>
        </div>
        <br>
    {% endfor%}
{% endblock %}