{% extends "base.html" %}

{% block title %}

  Listar Viajes

{% endblock%}

{% block contenido %}
  
  <p>&nbsp;Listar viajes</p>
  
  {% for travel in travels %}
  
    <div class="card" style="width: 18rem; margin-left: 1rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{travel.name}}</h5>
        <p class="card-text">{{travel.description}}</p>
        <a href="#" class="btn btn-primary">{{travel.price}}</a>
      </div>
    </div>
    <br>
  
  {% endfor%}

  {% endblock %}